<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitsz.pae.mapper.QuestionMapper">


    <select id="selectByListInfo" resultType="java.lang.Integer">
        select question_id from list_to_question ltq, question_list ql
        where ltq.question_list_id = ql.id and
              ql.question_list_index = #{questionList_index} and
              ltq.question_index = #{questionindex} and
              ql.profession = #{profession}
    </select>

    <select id="selectRandomProfession" resultType="com.hitsz.pae.pojo.Question">
        select * from(
            select * from question
                     where profession = #{profession}
                     )as profession_questions
        order by rand()
        limit #{number};
    </select>
    <select id="selectById" resultType="com.hitsz.pae.pojo.Question">
        select id, profession, c_answer, question_picture, question_script, option_al, flag_mul, flag_contain from question
        where question.id = #{id}
    </select>
    <select id="selectQuestionListByIndexAndProfession" resultType="java.lang.Integer">
        select id from question_list
        where question_list_index = #{index}
        and profession = #{profession}
    </select>
    <select id="getQuestionSet">
        select * from question where id in <foreach item="item" collection="set" open="(" separator="," close=")">
        #{item}
        </foreach>
    </select>
</mapper>